*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    border:border-box;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logo{
    background-image: url("amazon.webp");
    background-size: cover;
    height: 50px;
    width: 100px;
}
#logoborder:hover{
    height: 55px;
    width:100px;
    border: 1.5px solid white;
    
}
#add{
    color: white;
    
}
#deliverto{
    color: #ccc;
    margin-left:16px;
}
#add:hover{
    border: 1.5px solid white
}
#navsearch{
    display:flex;
    height: 40px;
    width: 620px;
    border-radius: 4px;
    color: #0f1111;
    padding: 10px 4px 10px 3px;
    justify-content: space-between;
}
.search-select{
    background-color: #f3f3f3;
    width: 60x;
    padding: 5px;
    border-width: 1px;
    text-align: centre;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    color: black;
}
.search-input{
    width:100%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}
#search{
     color:white;
    background-color: #febd68;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#navsearch:hover{
    border: 3px solid orange;
    padding: 0px;
    margin: 0px;
}
.sign{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight:bold;
}
.Accounts{
    font-size: 18px;
}
.signin:hover{
    border:2px solid white;
} 
.carticon i{
    font-size: 50px;
}
.carticon{
    font-size: 10px;
 }
 .carticon:hover{
    border: 2px solid white;
    padding: 0px;
 }
 /* panel */
 .panel{
    height: 40px;
    background-color: #33434d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

 }
 #bar{
    width: 48pxpx;
 }
 #bar:hover{
    border: 2px solid white;
    padding:0px
 }
 .para{
    display: inline;
    margin-left: 15px;
    font-size: 0.80rem;
 }
 #navigation{
    width: 70%;
 }
 #deals{
font-size: 0.90rem;
font-weight: bold;
 }
 /* hero-section */
 .hero-section{
    background-image: url("herosection.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: end;
 }
 .heromessage{
    height: 40px;
    width: 95%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85 px;  
    border-radius: 10px;
    margin-bottom: 20px; 
}
 .heromessage a{
    color: violet;
}
/* box */
.shopsection{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e2e2e2;
    color:black;
    
}
.box{
    color: black;
    height: 430px;
    width: 23%;
    background-color: white;
    margin: 4px;
}
.headings{
    color:black;
    margin-top: 5px;
}
.link{
    color: blueviolet;
    text-decoration: none;
    font-size: large;
    font-weight: 60px;
}
.box1img{
    background-image: url("box1.png");
    height:300px;
    width: 305px;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.boxalign{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box2img{
     background-image: url("box2.png");
    height:300px;
    width: 305px;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box3img{
     background-image: url("box3.png");
    height:300px;
    width: 305px;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box4img{
     background-image: url("box4.png");
    height:300px;
    width: 305px;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box5img{
     background-image: url("box5.png");
    height:300px;
    width: 305px;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box6img{
     background-image: url("box6.png");
    height:300px;
    width: 305px;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box7img{
     background-image: url("box7.png");
    height:300px;
    width: 305px;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box8img{
     background-image: url("box8.png");
    height:300px;
    width: 305px;
    background-size: cover;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
/* footer*/
footer{
    margin-top: 8px;
}
.panel1{
    height: 50px;
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel2{
    background-color: #263343;
    height:350px;
    display: flex;
    justify-content: space-evenly;
}
.panel2box{
    height: 300px;
    width: 300px;
    margin-top: 50px;
}
.panel2box a{
    display:block;
}
.footpanel3{
    background-color: #263343;
    border-top: 2px solid #1e2934;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panellogo{
     background-image: url("amazon.webp");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.language select{
    background-color: #263343;
    text-align: center;
    color: white;
    width: 150px;
}
.dollar select{
    background-color: #263343;
    text-align: center;
    color: white;
    width: 150px;
}
.country select{
    background-color: #263343;
    text-align: center;
    color: white;
    width: 150px;
}
.footpanel4{
    height: 70px;
    background-color:#131a21 ;
}
.conditions{
    text-align: center;
    padding-top: 20px;
    padding-right: 20px; 
    font-size: small;   
}
.copyright{
    text-align: center;
    margin-left: 5px;
    transform: translateX(-20px);
}
.conditions :hover{
    text-decoration: underline;
}
