/* div{
    height: 30px;
    background-color: rgb(250, 238, 241);
    width:100px;
    border-width: 5px;
    padding: 10px;
    /* border-style: dashed;
    border-color: red;
    border-radius: 10px; */
    /* border: 5px solid red ;
    margin: 25px;
    border-radius: 50%;    
} */ 
#display{
    background-color: rgb(218, 218, 191);
     display:inline;
}
button{
    background-color: grey;
    display: block;
}
#div1{
    background-color: red;
}
#div2{
    background-color: blue;
}
#div3{
    background-color: yellow;
}
#div4{
    background-color: green;
}
#div1,#div2,#div3,#div4 {
    padding: 30px;
    margin: 25px;
    display: inline-block;
}
#div2{
    display: none;
}
#div3{
    visibility: hidden;
}
#div1{
    background-color: rgba(255,0,0,0.5);
}
#div4{
    background-color: rgba(0,255,0,0.8);
}