
*{
    padding: 0;
    margin: 0;
    color:white;
}
#logo{
    color:#f08804;
    font-size: 25px;
}
    #navbar{
        background-color: black;
        height:60px;
        
    }
    button{
        background-color: #f08804;
    }
    a{
        margin-right: 200px ;
        text-decoration: none;
    }
    input{
        color:black;
    }
    