
*{
    padding: 0;
    margin: 0;
}
#logo{
    color:#f08804;
    font-size: 25px;
}
    #navbar{
        background-color:black;
        height:60px;
    }
    button{
        background-color: #f08804;
    }
    a{
        margin-right: 200px ;
        text-decoration: none;
        color:white;
    }
    input{
        color:black;
    }
    .contentclass{
        width:40px;
        color:black;
        background-color: red;
        padding: 25px;
        border: 5px;
        border-style:dashed;
        border-color:black;  
        display:inline-block;   
        margin: 50px;
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
    }
    #content{
        height: 900px;
    }