div{
    height: 120px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
    display: inline;
}
#div1{
    position:static;
}
#div2{
    position: relative;
    top:20px;
    left:10px;
}
#div3{
    position:sticky;
    top: 5px;
    left: 20px;
}
#div4{
    position: fixed;
    top:0;
}
body{
    background-image: url("naturephoto.jpg");
    background-size:cover;
}
#div4{
    background-image: url("naturephoto.jpg");
    background-size:cover; 
}
