*{
    text-align: center;
}

#container{
    height: 300px;
    width: 600px;
    border-style: solid;
    border-width: 3px;
    display: flex;
}
#div1,#div2,#div3,#div4{
    height: 100px;
    width: 400px;
    border: 2px solid red;
    display: inline-block;
}
#div1{
    background-color: blue;
}
#div2{
    background-color: green;
}
#div3{
    background-color: yellow;
    flex-grow: 2 ;
}
#div4{
    background-color: brown;
}

