#navbar{
    display: flex;
    justify-content: space-between;
}
#lis{
    background-color: antiquewhite;
    height: 30px;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
 .outer{
    background-color: aqua;
    height: 600px;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .inner{
    background-color: violet;
    height: 200px;
    width: 200px;

 }