div{
    height: 300px;
    width: 300px;
    background-color: aqua;
}
@media(min-width:200px)and (max-width:300px){
    div{
        background-color: red;

    }
}
@media(min-width:300px)and (max-width:400px){
    div{
        background-color:yellow;

    }
}
 @media(min-width:500px)and (max-width:600px){
    div{
        background-color: green;

    }
}
@media(min-width:600px)and (max-width:800px){
    div{
        background-color:orange;

    }
}


