div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    /* transition-property: all;
    transition-duration: 10s; */
    border-width: 2px;
    border-color: black;
    position: absolute;
    animation: color 4s ease-in 0s infinite normal;
    /* transition-timing-function: step-end */
}
/* div:hover{
    /* background-color: grey;
    color:red;
    font-size:large;
    transform: rotate(45deg); */
    /* animation-name: color;
    animation-duration: 2ms;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
} */ 
 
/* div:active{
    background-color: pink;
    color:black;
} */
@keyframes color{
    /* from{background-color: aqua;
          left:0px;
        }
    to{background-color: red;
       left:100px;}
} */
 0%{background-color: aqua;
          left:0px;
        }
        50%{
            background-color: yellow;
        }
    100%{
        background-color: red;
       left:100px;}
    }